# OS
.DS_Store

# IDEs and editors
.idea
.project

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
.npmrc
node_modules

# Graph
*.gml

# Build
build
